<section>
  <h2>Завдання</h2>
  <form (submit)="$event.preventDefault(); addTask()">
    <input type="text" [formControl]="newTask" placeholder="Нова задача" />
    <button type="submit">Додати</button>
  </form>

  @if (tasksService.tasks().length === 0) {
    <p>Поки порожньо</p>
  } @else {
    <ul>
      @for (task of tasksService.tasks(); track task.id) {
        <li>{{ task.title }}</li>
        <button type="button" (click)="tasksService.removeTask(task.id)">
          Вилучити
        </button>
      }
    </ul>
  }
</section>
